.hd-los-header {
	background-color: #00a3e0;
	color: #fff;
	margin-left: -20px;
	padding: 20px;
}

.hd-los-header-title {
	font-size: 24px;
}

.hd-los-content {
	padding: 10px;
}

#hd-los-api-key-checking, #hd-los-api-key-ok, #hd-los-api-key-nok {
	display: none;
}

.hd-los-ok {
	color: #44aa44;
}

.hd-los-nok {
	color: #ff0000;
	font-weight: bold;
}

#hd-los-divisions-table td {
	padding: 3px 1px 3px 0;
}

#hd-los-divisions-table input {
	width: 100%;
}

#hd-los-divisions-table td:nth-child(1) {
	width: 50px;
}

#hd-los-divisions-table td:nth-child(2) {
	width: 200px;
}

#hd-los-divisions-table td:nth-child(4) {
	width: 40px;
}